<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title><%= title %></title>

</head>
<body>

<div class="container">

    <div class="row">

        <div class="col-12">

            <div class="text-center pt-4 pb-2">

                <h1>Oups !</h1>

                <div>
                    Oups, une erreur est survenue, la page demandée n'a pas été trouvée !
                </div>

            </div>

            <div class="text-center mt-2 mb-2">

                <a href="/auth" class="btn btn-dark btn-lg mr-1">
                    Page de Connexion
                </a>

            </div>

        </div>

    </div>

</div>

</body>
</html>
