<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title><%= title %></title>
</head>
<body>

<div class="container">

    <div class="row">

        <div class="col-9 mx-auto">

            <div class="card my-5">

                <div class="card-body text-center">

                    <div class="card-title">Connexion</div>

                    <input type="text"
                           id="firstname"
                           class="form-control"
                           placeholder="Votre prénom">
                    <br>
                    <input type="text"
                           id="lastname"
                           class="form-control"
                           placeholder="Votre nom">
                    <br>
                    <a id="login" href="/" class="btn btn-dark text-uppercase">
                        Me connecter
                    </a>

                </div>

            </div>

        </div>

    </div>

</div>

<script>

    const loginButton = document.querySelector('#login');

    loginButton.addEventListener('click', evt => {
        const firstname = document.querySelector('#firstname').value;
        const lastname = document.querySelector('#lastname').value;

        evt.target.href = '/?firstname=' + firstname + '&lastname=' + lastname;
    });

</script>
